---
import LogoCarousel from '@/components/LogoCarousel.jsx';
---
<section class="bg-white py-20 sm:py-40">
    <div class="container mx-auto mb-20 sm:mb-40">
        <hr class="border border-[#303030] mb-8">
        <h2 class="text-primary text-5xl font-medium tracking-widest text-left">Nuestros clientes</h2>
    </div>
    <LogoCarousel client:only />
</section>