---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<section>
    <div class="grid grid-cols-1 lg:grid-cols-2 ">
        <div class="bg-white py-10 lg:py-20 lg:px-16 xl:px-32">
            <h3 class="text-[#303030] text-center text-3xl lg:text-4xl xl:text-5xl" set:html={i18n.production.development} >
            </h3>
        </div>
        <div class="bg-terteary flex items-center justify-center lg:px-16 xl:px-32">
            <img class="max-lg:w-96 w-full" src="/images/production/logo-viejo.png" alt="logo viejo" loading="lazy" />
        </div>
    </div>
</section>