---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<section>
    <div class="grid grid-cols-1 lg:grid-cols-2 ">
        <div class="bg-white py-10 lg:py-20 px-4 lg:px-16 xl:px-32">
            <h3 data-aos="fade" data-aos-duration="1000" data-aos-delay="100" class="text-semiBlack text-center text-3xl lg:text-4xl xl:text-5xl" set:html={i18n.production.development} >
            </h3>
        </div>
        <div class="bg-tertiary flex items-center justify-center lg:px-16 xl:px-32 max-lg:py-10 max-sm:px-4">
            <img data-aos="fade" data-aos-duration="1000" data-aos-delay="100" class="max-lg:w-96 w-full" src="/images/logos/logo-viejo-blanco.svg" alt="logo viejo" loading="lazy" />
        </div>
    </div>
</section>