---
import FacebookIcon from "@/assets/social/facebook-icon.svg";
import InstagramIcon from "@/assets/social/instagram-icon.svg";
import WhatsappIcon from "@/assets/social/whatsapp-icon.svg";
import LogoWhite from "@/assets/logos/atxona-white.svg";

import Envelope from "@/assets/contact/envelope.svg";
import Mapmarker from "@/assets/contact/mapmarker.svg";
import Phone from "@/assets/contact/phone.svg";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="bg-primary text-white">
    <div class="container mx-auto py-24 md:py-16">
        <div class="flex max-sm:flex-col-reverse sm:justify-between mb-6 max-md:mx-6 sm:pb-0">
            <div class="flex flex-row max-sm:justify-center max-sm:mt-28 gap-0 md:gap-2 lg:gap-4">
                <WhatsappIcon class="w-10 sm:w-12 lg:w-16 h-auto" />
                <FacebookIcon class="w-10 sm:w-12 lg:w-16 h-auto" />
                <InstagramIcon class="w-10 sm:w-12 lg:w-16 h-auto" />
            </div>
            <div>
                <LogoWhite class="max-sm:w-full sm:w-72 lg:w-96" />
            </div>
        </div>

        <div>
            <ul class="text-white text-xl px-6">
                <li class="mb-4 lg:mb-2 text-center lg:text-left"><a class=""><Mapmarker class="w-6 h-auto mr-3 inline-flex" />Las Calandrias 578 - (5501) - Godoy Cruz - Mendoza - Argentina</a></li>
                <li class="mb-4 lg:mb-2 text-center lg:text-left"><a class=""><Phone class="w-6 h-auto mr-3 inline-flex" />+54 (261) 439-4326</a></li>
                <li class="text-center lg:text-left"><a ><Envelope class="w-6 h-auto mr-3 inline-flex" />info@fincaatxona.com.ar</a></li>
            </ul>
        </div>
        <p class="text-white text-center text-md pt-20">
            {i18n.footer.credits.first} <span class="inline font-bold hover:text-secondary cursor-pointer">Polvora</span>
             - <span class="inline text-nowrap">{i18n.footer.credits.second} 
        <a class="font-bold hover:text-secondary" href="https://manejoweb.com.ar" target="_blank">ManejoWeb</a></span></p>
    </div>
</footer>