---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<section class="relative max-xs:h-[1100px] xs:h-[900px]">
    <!-- Gradiente -->
    <div class="absolute z-30 bottom-0 w-full h-full bg-gradient-to-r from-black/60 via-transparent to-transparent">
    </div>
    <div class="md:container md:mx-auto">
        <!-- Imagen de fondo -->
        <img 
            src="/images/index/sustainability.webp" 
            alt="racimo de uva" 
            loading="lazy" 
            class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        
        <!-- Contenido superpuesto -->
        <div class="absolute mx-4 xs:mx-6 z-40 h-full flex flex-col items-start justify-center max-sm:pb-56">
            <div class="w-full sm:w-[25rem] md:w-[30rem] lg:w-[35rem] xl:w-[45rem] leading-8 lg:leading-10 text-xl xs:text-2xl lg:text-3xl text-left font-light text-white">
                <p class="mb-10 sm:mb-20" set:html={i18n.index.sustainability.parragraph1}></p>
                <p set:html={i18n.index.sustainability.parragraph2}></p>
            </div>
        </div>
        <img src="/images/index/sustainability.svg" class="absolute z-40 bottom-10 sm:bottom-16 md:bottom-24 max-sm:left-10 sm:right-32  w-40 lg:w-56" loading="lazy" alt="sustainability"/>
    </div>
</section>
